# Python cache files
__pycache__/
*.pyc

# Virtual environments (pip install y python)
myenv/
venv/
env/

# Node dependencies (npm install)
node_modules/

# Dataset files
Dataset.zip
processed_dataset/
Output images/
Dataset/

# Log files
*.log

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Model files
# NOTA: Solo ignoramos facenet_model.pth porque pesa 112MB y GitHub lo rechazaría por exceder el límite de 100MB.
# El resto de modelos (.pkl, .npy, .pth) SÍ se subirán.
facenet_model.pth

# Python scripts not to push
crop.py